.search-container {
  text-align: center;
  margin-top: 32px;

  input[type="text"] {
    padding: 10px 4px;
    width: 30%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    border-right: none;
    background-color: #fff;
  }

  input[type="submit"] {
    padding: 13px 8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    color: #fff;
    background-color: #ff9f45;
    cursor: pointer;
  }

  button {
    margin-left: 24px;
    width: 48px;
    padding: 13px 8px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #ff9f45;
    cursor: pointer;
  }
}
