.search-container {
  margin-top: 32px;
  text-align: center;

  input.search-input {
    padding: 10px 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    border-right: none;
    background-color: #fff;
    width: 30%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  button {
    margin-left: 24px;
    width: 48px;
    padding: 13px 8px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #ff9f45;
    cursor: pointer;
  }

  button.search-btn {
    margin-left: 0;
    height: 41px;
    width: 56px;
    border: none;
    color: #fff;
    background-color: #ff9f45;
    cursor: pointer;
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
