.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin: 56px 24px 24px;

  .photo-item {
    margin-bottom: 12px;
    transition: all 0.2s linear;

    &:hover {
      transform: scale(1.06);
    }

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
    }

    .name {
      background-color: #ff9f45;
      padding: 4px;
      border-radius: 6px;
      color: #050505;
      display: flex;
      justify-content: center;
    }
  }

  .not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .photo-container {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media (max-width: 320px) {
  .photo-container {
    margin: 56px 16px;
  }
}
